body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightslategray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.floor{
  background-color: white;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 150px;
  height: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.keyframe-animation {
  background-color: #20d5cf;
  animation: slide 1s infinite alternate ease-in;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(250px);
  }
}
